<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/style.css">

</head>
<style>
    table {
        border-collapse: collapse;
        width: 100%;
    }

    th,
    td {
        padding: 8px;
        text-align: left;
        border-bottom: 1px solid #ddd;
    }

    tr:hover {
        background-color: #ccc;
    }
</style>


<body>
    <div class="topnav" id="myTopnav">
        <a href="/" class="active">Home</a>
        <a href="/create">News</a>
    </div>
    <div class="table-container">
        <div>List User</div>
        <table>
            <tr>
                <th>Email</th>
                <th>Name</th>
                <th>City</th>
            </tr>
            <tr>
                <td>Peter</td>
                <td>Griffin</td>
                <td>$100</td>
            </tr>

        </table>
    </div>
</body>

</html>